@media (max-width: 1330px) {
  .infodiv {
    width: 95%;
    padding-left: 30px;
  }
}
@media (max-width: 1300px) {
  .cards {
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
  }
  .wch {
    justify-content: space-evenly;
    align-items: center;
    row-gap: 40px;
  }
}
@media (max-width: 900px) {
  .nav {
    gap: 20px;
  }
}
@media (max-width: 850px) {
  .nav {
    gap: 15px;
  }
  .logo {
    margin-left: 50px;
  }
  .nav {
    margin-right: 50px;
  }
}
@media (max-width: 800px) {
  .nav {
    gap: 10px;
  }
  .logo {
    margin-left: 40px;
  }
  .nav {
    margin-right: 40px;
  }
  .infodiv {
    gap: 40px;
    padding-top: 70px;
    justify-content: center;
    align-items: center;
  }
  .info {
    text-align: center;
  }
  .info h2 {
    font-size: 30px;
  }
  .info h4 {
    font-size: 14px;
  }
  .info1 h2 {
    font-size: 30px;
  }
  .info1 h4 {
    font-size: 14px;
  }
}
@media (max-width: 700px) {
  .nav {
    display: none;
  }
  .bars {
    display: flex;
  }
  .infodiv {
    justify-content: center;
    padding-top: 30px;
  }
}
@media (max-width: 600px) {
  .info h2 {
    font-size: 24px;
  }
  .info h4 {
    font-size: 10px;
  }
  .info1 h2 {
    font-size: 24px;
  }
  .info1 h4 {
    font-size: 10px;
  }
}
@media (max-width: 550px) {
  .logo {
    margin-left: 30px;
  }

  .info h2 {
    margin-left: 20px;
  }
  .info h4 {
    margin-left: 20px;
  }
}
@media (max-width: 500px) {
  .info h2 {
    font-size: 18px;
    margin-left: 15px;
  }
  .info h4 {
    font-size: 8px;
  }
  .info1 h2 {
    font-size: 18px;
  }
  .info1 h4 {
    font-size: 10px;
  }
  .lukh {
    width: 310px;
  }
  .lukh1 button {
    margin-left: 165px;
  }
  .maisa {
    width: 310px;
  }
  .maisa1 img {
  }
  .maisa1 button {
    margin-left: 165px;
  }
  .maisa1 h2 {
    width: 200px;
  }
  .tushawc {
    width: 310px;
  }
  .tusha1 button {
    margin-left: 165px;
  }
  .tusha1 h2 {
    width: 210px;
  }
}
@media (max-width: 430px) {
  .infodiv {
    padding-top: 60px;
  }
  .exp {
    display: none;
  }
}
@media (max-width: 421px) {
  .wjt {
    gap: 15px;
  }
  .wjt img {
    width: 25px;
  }
  .wjt h2 {
    font-size: 28px;
  }
}
